/* Common CSS file called in resources/layout/layout.blade.php */


body{
background: url("../img/bg-img-2.jpg");
/* https://cg0.cgsociety.org/uploads/images/medium/abhichaurasia28-ichiraku-ramen-narut-1-8b7a753e-b27l.jpg */
  background-size: cover;
}
.logo{
    height:100px;
}
.additem{
  justify-content: center;
}